@mixin font($name, $weight, $style, $url) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: local($name), url($url) format('woff2');
  }
}
