{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-new": "off",
    "object-curly-newline": "off",
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "single"],
    "func-names": ["error", "never"],
    "space-before-function-paren": ["error", "never"]
  }
}
