@import 'resets';
@import 'variables';

/*======================================================
Defaults
======================================================*/
body {
  position: relative;

  min-width: 320px;
  margin: 0;

  overflow-x: hidden;

  color: $text-color;
  font-family: $user-font;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

/*======================================================
Container
======================================================*/
.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}
