@import "resets";
@import "variables";

/*======================================================
Defaults
======================================================*/
body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;

  color: $text-color;
  font-family: $user-font;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

/*======================================================
Container
======================================================*/
.wrapper {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
