@import 'resets';
@import 'variables';

/*======================================================
Defaults
======================================================*/
body {
  min-width: 320px;

  font-family: $userfont;
  font-size: $fontsize;
  color: $textcolor;
  line-height: $lineheight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  position: relative;
  overflow-x: hidden;
}

/*======================================================
Container
======================================================*/
.wrapper {
  width: 100%;
  max-width: $containerwidth;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
