*, :before, :after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
  margin: 0;
  padding: 0;
}

ol, ul, dl {
  list-style: none;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

a, button, input, select, textarea {
  outline: none !important;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}
