$user-font: 'Roboto', sans-serif;
$system-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$font-size: 16px;
$text-color: #000;
$line-height: 1.5;
$primary-color: #ffa500;
$wrapper-width: 1170px;

/* Customs ============================================*/
